<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <div ng-app="myApp">
    <div>
      <input type="text" ng-model="data">
      {{data}}
    </div>
    <div ng-controller="ScopeController">
      <input type="text" ng-model="data">
      {{data}}
    </div>
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
<script>
  angular.module("myApp", []).controller("ScopeController", function($scope) { });
</script>
</body>
</html>
