<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>Tip Calculator</title>
  </head>
  <body>
    <h1>How Much Does your Tip Cost</h1>
    <p> how much did you meal cost:<input type="text" ng-model="mealCost"/></p>
    <p>How much do you want to tip?</p>
    <select ng-model="tip">
      <option value=".10">10</option>
      <option value=".15">15</option>
      <option value=".20">20</option>
    </select>
    <h2>Subtotal: {{mealCost}}</h2>
    <h2 ng-cloak>Total: {{mealCost * tip}}</h2>
    <div>{{this}}</div>
  </body>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
</html>
