<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    <p>Boy's Name</p>
    <input type="text" ng-model="name">
    <p>Adjective</p>
    <input type="text" ng-model="adj1">
    <p>Plural Noun</p>
    <input type="text" ng-model="pn1">
    <p>Plural Noun</p>
    <input type="text" ng-model="pn2">
    <p>An Insect Plural</p>
    <input type="text" ng-model="pn3">
    <p>Plural Noun</p>
    <input type="text" ng-model="pn4">
    <p>A verb ending in "s"</p>
    <input type="text" ng-model="verb">
    <h3>I'm in love with <span>{{name}}</span>. He's so
    <span>{{adj1}}</span>! He has big flat <span>{{pn1}}</span>,
    and when our <span>{{pn2}}</span> meet, I get <span>{{pn3}}</span>
    in my stomach. I've fallen for him like a ton of <span>{{pn4}}</span>,
     and he <span>{{verb}}</span> for me, too. But I think he's got another
     girlfriend. What should I do?</h3>



  </body>
</script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
</html>
